In [6]:
import pandas as pd

In [7]:
file_path = "CS_data_digi_channels.xlsx" # load data
df_data = pd.read_excel(file_path, sheet_name = "Data")
df_ranks = pd.read_excel(file_path, sheet_name = "Ranks")

In [9]:
# check data
df_data.info()
df_ranks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2865 entries, 0 to 2864
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     2865 non-null   int64
 1   Sport                    2865 non-null   object
 2   Event                    2865 non-null   object
 3   Country                  2865 non-null   object
 4   Gender                   2865 non-null   object
 5   Medal Rank               2865 non-null   int64
 6   Medal                    2865 non-null   object
 7   Name of Athlete or Team  2865 non-null   object
 8   Age of Athlete           2173 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 201.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    44 non-null     object
 1   Rank asc   44 non-null     int64
 2   Rank desc  44 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [11]:
# join tables data & ranks
df = df_data.merge(
    df_ranks,
    on = "Country",
    how = "left"
)

In [13]:
# check data after merge/join
df.info()
df["Rank asc"].isna().mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2865 entries, 0 to 2864
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     2865 non-null   int64
 1   Sport                    2865 non-null   object
 2   Event                    2865 non-null   object
 3   Country                  2865 non-null   object
 4   Gender                   2865 non-null   object
 5   Medal Rank               2865 non-null   int64
 6   Medal                    2865 non-null   object
 7   Name of Athlete or Team  2865 non-null   object
 8   Age of Athlete           2173 non-null   float64
 9   Rank asc                 2865 non-null   int64
 10  Rank desc                2865 non-null   int64
dtypes: float64(1), int64(4), object(6)
memory usage: 246.3+ KB

0.0

In [14]:
df["Entity_Type"] = df["Age of Athlete"].apply(
    lambda x: "Athlete" if pd.notna(x) else "Team"
)

In [19]:
# encoding/decoding
df["Name of Athlete or Team"] = (
    df["Name of Athlete or Team"]
    .astype(str)
    .str.encode("latin1", errors = "ignore")
    .str.decode("utf-8", errors = "ignore")
)

In [20]:
# creating age groups
df["Age_Group"] = pd.cut(
    df["Age of Athlete"],
    bins = [0, 20, 25, 30, 35, 40, 100],
    labels= ["<20", "20–24", "25–29", "30–34", "35–39", "40+"]
)

In [21]:
# medal score - purpose core analytics in BI
medal_score = {
    "gold": 3,
    "silver": 2,
    "bronze": 1
}
df["Medal Score"] = df["Medal"].map(medal_score)

In [22]:
# creating groups "decade" for BI visualisation
df["Decade"] = (df["Year"] // 10) * 10

In [23]:
# replace " " by "_"
df.columns = df.columns.str.replace(" ", "_")

In [26]:
df.to_csv("Olympics_gold_dataset.csv", index= False)
df.to_excel("Olympics_gold_dataset.xlsx", index=False)